.env
# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Specific __pycache__ directories
docker/laksh-back/app/src/apps/api/__pycache__/


volumes/pgadmin/pgadmin4.db

volumes/frontend/

volumes/laksh-front-files/
volumes/shared/

# Certbot
certbot/conf/
certbot/www/
docker/laksh-back/mail-sent.txt

docker/laksh-back/app/src/media/
